<a routerLink="./add">{{ 'TABLE.ADD_POSITION' | translate }}</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'TABLE.ID' | translate }}</th>
      <th scope="col">{{ 'TABLE.POSITION.POSITION' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let position of positions">
      <th scope="row">{{ position.id }}</th>
      <td>{{ position.position }}</td>
      <td>
        <a routerLink="./edit/{{ position.id }}">{{
          'TABLE.EDIT' | translate
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
