<div class="card">
  <h4 class="card-header">{{ 'FORM.ACCOUNT.LOGIN.LOGIN' | translate }}</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.LOGIN.EMAIL' | translate
        }}</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">
            {{ 'FORM.ACCOUNT.LOGIN.ERROR.EMAIL' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.LOGIN.PASSWORD' | translate
        }}</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">
            {{ 'FORM.ACCOUNT.LOGIN.ERROR.PASSWORD' | translate }}
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          {{ 'FORM.LOGIN' | translate }}
        </button>
        <a routerLink="../register" class="btn btn-link">{{
          'FORM.REGISTER' | translate
        }}</a>
      </div>
    </form>
  </div>
</div>
