<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'TABLE.ID' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.FIRST_NAME' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.LAST_NAME' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.EMAIL' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.ACTIVATED' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.EMPLOYED' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.DATE_OF_EMPLOYMENT' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.DATE_OF_FIRED' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.COMPANY' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.EMPLOYMENT' | translate }}</th>
      <th scope="col">{{ 'TABLE.USERS.POSITION' | translate }}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.is_active }}</td>
      <td>{{ user.is_employed }}</td>
      <td>{{ user.date_of_employment }}</td>
      <td>{{ user.date_of_fired }}</td>
      <td>{{ user.company_id }}</td>
      <td>{{ user.employment_id }}</td>
      <td>{{ user.position_id }}</td>
      <td>
        <button *ngIf="!user.is_active" (click)="activate(user.id)">
          {{ 'TABLE.USERS.ACTIVATE' | translate }}
        </button>
      </td>
      <td>
        <a routerLink="./edit/{{ user.id }}">{{ 'TABLE.EDIT' | translate }}</a>
      </td>
    </tr>
  </tbody>
</table>
