<div class="card">
  <h4 class="card-header">{{ 'FORM.REGISTER' | translate }}</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.REGISTER.FIRST_NAME' | translate
        }}</label>
        <input
          type="text"
          formControlName="first_name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }"
        />
        <div
          *ngIf="submitted && f['first_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['first_name'].errors['required']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.FIRST_NAME' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.REGISTER.LAST_NAME' | translate
        }}</label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }"
        />
        <div
          *ngIf="submitted && f['last_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['last_name'].errors['required']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.LAST_NAME' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.REGISTER.EMAIL' | translate
        }}</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.EMAIL_REQUIRED' | translate }}
          </div>
          <div *ngIf="f['email'].errors['email']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.EMAIL_INCORRECT' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.REGISTER.PASSWORD' | translate
        }}</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.PASSWORD_REQUIRED' | translate }}
          </div>
          <div *ngIf="f['password'].errors['minlength']">
            {{ 'FORM.ACCOUNT.REGISTER.ERROR.PASSWORD_MIN_LEN' | translate }}
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          {{ 'FORM.REGISTER' | translate }}
        </button>
        <a routerLink="../login" class="btn btn-link">{{
          'FORM.CANCEL' | translate
        }}</a>
      </div>
    </form>
  </div>
</div>
