<a routerLink="./add">{{ 'TABLE.ADD_EMPLOYMENT' | translate }}</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'TABLE.ID' | translate }}</th>
      <th scope="col">{{ 'TABLE.EMPLOYMENT.EMPLOYMENT' | translate }}</th>
      <th scope="col">{{ 'TABLE.EMPLOYMENT.HOURS_PER_DAY' | translate }}</th>
      <th scope="col">{{ 'TABLE.EMPLOYMENT.HOURS_PER_WEEK' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employment of employments">
      <th scope="row">{{ employment.id }}</th>
      <td>{{ employment.employment }}</td>
      <td>{{ employment.max_hours_per_day }}</td>
      <td>{{ employment.max_hours_per_week }}</td>
      <td>
        <a routerLink="./edit/{{ employment.id }}">{{
          'TABLE.EDIT' | translate
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
