<a routerLink="/company/add">{{ 'TABLE.ADD_COMPANY' | translate }}</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'TABLE.ID' | translate }}</th>
      <th scope="col">{{ 'TABLE.COMPANY.COMPANY' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <th scope="row">{{ company.id }}</th>
      <td>{{ company.company }}</td>
      <td>
        <a routerLink="./edit/{{ company.id }}">{{
          'TABLE.EDIT' | translate
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
