<div class="card">
  <h4 class="card-header">{{ 'FORM.USER.EDIT' | translate }}</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{ 'FORM.USER.EMPLOYED' | translate }}</label>
        <select
          formControlName="is_employed"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['is_employed'].errors }"
        >
          <option value=""></option>
          <option value="1">{{ 'FORM.USER.SELECT.YES' | translate }}</option>
          <option value="0">{{ 'FORM.USER.SELECT.NO' | translate }}</option>
        </select>
        <div
          *ngIf="submitted && f['is_employed'].errors"
          class="invalid-feedback"
        ></div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.USER.DATE_OF_FIRED' | translate
        }}</label>
        <input
          type="date"
          formControlName="date_of_fired"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['date_of_fired'].errors }"
        />
        <div
          *ngIf="submitted && f['date_of_fired'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['date_of_fired'].errors['required']">
            {{ 'FORM.USER.ERROR.DATE_OF_FIRED' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'FORM.USER.COMPANY' | translate }}</label>
        <select
          formControlName="company_id"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['company_id'].errors }"
        >
          <option value=""></option>
          <option *ngFor="let company of companies" value="{{ company.id }}">
            {{ company.company }}
          </option>
        </select>
        <div
          *ngIf="submitted && f['company_id'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['company_id'].errors['required']">
            {{ 'FORM.USER.ERROR.COMPANY' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.USER.EMPLOYMENT' | translate
        }}</label>
        <select
          formControlName="employment_id"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['employment_id'].errors }"
        >
          <option value=""></option>
          <option
            *ngFor="let employment of employments"
            value="{{ employment.id }}"
          >
            {{ employment.employment }}
          </option>
        </select>
        <div
          *ngIf="submitted && f['employment_id'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['employment_id'].errors['required']">
            {{ 'FORM.USER.ERROR.EMPLOYMENT' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'FORM.USER.POSITION' | translate }}</label>
        <select
          formControlName="position_id"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['position_id'].errors }"
        >
          <option value=""></option>
          <option *ngFor="let position of positions" value="{{ position.id }}">
            {{ position.position }}
          </option>
        </select>
        <div
          *ngIf="submitted && f['position_id'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['position_id'].errors['required']">
            {{ 'FORM.USER.ERROR.POSITION' | translate }}
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          {{ 'FORM.USER.EDIT' | translate }}
        </button>
        <a routerLink="../" class="btn btn-link">{{
          'FORM.CANCEL' | translate
        }}</a>
      </div>
    </form>
  </div>
</div>
