<div class="card">
  <h4 class="card-header">
    {{ 'FORM.ACCOUNT.EDIT.PASSWORD.CHANGE' | translate }}
  </h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.EDIT.PASSWORD.CURRENT_PASSWORD' | translate
        }}</label>
        <input
          type="password"
          formControlName="current_password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f['current_password'].errors
          }"
        />
        <div
          *ngIf="submitted && f['current_password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['current_password'].errors['required']">
            {{ 'FORM.ACCOUNT.EDIT.PASSWORD.ERROR.PASSWORD' | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.EDIT.PASSWORD.NEW_PASSWORD' | translate
        }}</label>
        <input
          type="password"
          formControlName="new_password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }"
        />
        <div
          *ngIf="submitted && f['new_password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['new_password'].errors['required']">
            {{ 'FORM.ACCOUNT.EDIT.PASSWORD.ERROR.PASSWORD' | translate }}
          </div>
          <div *ngIf="f['new_password'].errors['minlength']">
            {{
              'FORM.ACCOUNT.EDIT.PASSWORD.ERROR.PASSWORD_TOO_SHORT' | translate
            }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          'FORM.ACCOUNT.EDIT.PASSWORD.REPEAT_PASSWORD' | translate
        }}</label>
        <input
          type="password"
          formControlName="new_password_2"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }"
        />
        <div
          *ngIf="submitted && f['new_password_2'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['new_password_2'].errors['required']">
            {{ 'FORM.ACCOUNT.EDIT.PASSWORD.ERROR.NEW_PASSWORD' | translate }}
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          {{ 'FORM.ACCOUNT.EDIT.PASSWORD.CHANGE' | translate }}
        </button>
        <a routerLink="../edit" class="btn btn-link">{{
          'FORM.CANCEL' | translate
        }}</a>
      </div>
    </form>
  </div>
</div>
