<div class="card">
  <h4 class="card-header">Change password</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <input
          type="password"
          formControlName="current_password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f['current_password'].errors
          }"
        />
        <div
          *ngIf="submitted && f['current_password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['current_password'].errors['required']">
            Password is required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">New password</label>
        <input
          type="password"
          formControlName="new_password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }"
        />
        <div
          *ngIf="submitted && f['new_password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['new_password'].errors['required']">
            New password is required
          </div>
          <div *ngIf="f['new_password'].errors['minlength']">
            New password is too short
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Repeat password</label>
        <input
          type="password"
          formControlName="new_password_2"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }"
        />
        <div
          *ngIf="submitted && f['new_password_2'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['new_password_2'].errors['required']">
            New password is required
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Change password
        </button>
        <a routerLink="../edit" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
